.cards {
  margin:0;
  padding:60px 0 0;
  max-width: 920px;
  display: grid;
  column-gap: 100px;
  row-gap: 60px;
  grid-template-columns: repeat(3,1fr);
  list-style: none;
}

@media screen and (max-width: 940px) {
  .cards {
    grid-template-columns: repeat(2,1fr);
  }
}
@media screen and (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }
}