.resources {
  padding: 100px 0 217px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  max-width: 1600px;
}

@media screen and (max-width: 800px) {
  .resources {
    padding: 60px 0 60px;
  }
}
