.feynman__link {
  line-height: 1.41;
  font-size: 36px;
  max-width: 250px;
  font-weight: 400;
  color:#2f80ed;
  position:absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  transition: opacity ease-in 0.3s;
}

.feynman__link:hover{
  opacity: 0.6;
}

@media screen and (max-width: 1024px) {
  .feynman__link {
    position: relative;
    top: unset;
    right: unset;
    padding-top: 10px;
    color: #000;
    border-bottom: 3px #000 solid;
    line-height: 1.2;
  }
}

@media screen and (max-width: 786px) {
  .feynman__link {
    font-size: 24px;
  }
}