.video {
  margin:0 0 -50px;
  padding: 100px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 670px) {
  .video {
    padding: 60px 0 0;
  }
}
