.header {
  padding:0;
  height: 100vh;
  max-width: 1600px;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

@media screen and (max-width: 670px) {
  .header {
    align-items: flex-start;
    min-height: 500px;
  }
}
