.table__cell {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

@media screen and (max-width: 648px) {
  .table__cell {
    align-items: center;
  }
}