.oakley {
  padding: 160px 0 0;
  background-color:#f2f2f2;
  display: flex;
  justify-content: center;
  max-width: 1600px;
}

@media screen and (max-width: 670px) {
  .oakley {
    padding-top: 100px;
    justify-content: flex-start;
  }
}