.resources__logo-zone{
  margin: 80px 0 0;
  padding: 0;
  display: grid;
  max-width: 1100px;
  list-style: none;
  grid-template-columns: repeat(4,270px);
  grid-template-rows: 38px;
  row-gap: 40px;
  column-gap: calc(20px/3);
  grid-auto-rows: 38px;
}

@media screen and (max-width: 1150px) {
  .resources__logo-zone {
    grid-template-columns: repeat(3,270px);
  }
}

@media screen and (max-width: 840px) {
  .resources__logo-zone {
    grid-template-columns: repeat(2,270px);
    margin: 40px 0 0;
  }
}

@media screen and (max-width: 600px) {
  .resources__logo-zone {
    grid-template-columns: 270px;
  }
}
