.header__subtitle {
  margin: 0;
  padding: 0;
  max-width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .header__subtitle {
    max-width: 310px;
    font-size: 16px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 670px) {
  .header__subtitle {
    left: 24px;
    bottom: 200px;
  }
}

@media screen and (max-width: 580px) {
  .header__subtitle {
    bottom: 270px;
  }
}


