.header__main-illustration {
  width: calc((765/1600)*100vw);
  max-width: 940px;
  min-width: 320px;
  max-height: 800px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index:-1;
}

@media screen and (max-width: 320px)
{
  .header__main-illustration {
    min-width: 0;
    width: 100vw;
  }
}

