.khan__buy-link {
  margin:0;
  line-height: 1.4;
  font-size: 30px;
  font-weight: 400;
  color:#2f80ed;
  text-decoration: none;
  transition: opacity ease-in 0.3s;
}

.khan__buy-link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1105px) {
  .khan__buy-link {
    font-size: 20px;
  }
}

@media screen and (max-width: 1040px) {
  .khan__buy-link {
    margin-top: 20px;
  }
}
